{% extends './layout.html' %}

{% block content %}

{% load static %}
<head>
    <!-- Static Files -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
</head>

<div class="hero" id="hero">
  <div class="container">
      <div class="row">
          <div class="six columns">
              <div class="contenido-hero">
                  <h2>RESERVA Y DISFRUTA</h2>
                  <p>Los mejores lugares turistico del Ecuador esperan a que visites</p>
                  <form action="#" id="busqueda" method="" class="formulario">
                      <input class="u-full-width" type="text" placeholder="¿Que te gustaria visitar?"
                          id="buscador">
                      <input type="" name="" id="submit-buscador" class="submit-buscador">
                  </form>
              </div>

          </div>
      </div>
  </div>
</div>
<div class="container container-web-page">
  <h1 class="text-center text-uppercase poppins-regular font-weight-bold">Nuestros servicios</h1>
  <br>
  <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
          <p class="text-center"><i class="fas fa-shipping-fast fa-5x"></i></p>
          <h5 class="text-center text-uppercase poppins-regular font-weight-bold">Las mejores rutas</h5>
          <p class="text-center">¿Listo/a para descubrir los mejores itinerarios en Ecuador para practicar senderismo, ciclismo de montaña, mochilear y otras actividades al aire libre?</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
          <p class="text-center"><i class="fas fa-utensils fa-5x"></i></p>
          <h5 class="text-center text-uppercase poppins-regular font-weight-bold">Guias experimentados</h5>
          <p class="text-center">Excursiones ecologicas con guias experimentados e informativos</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
          <p class="text-center"><i class="fas fa-store-alt fa-5x"></i></p>
          <h5 class="text-center text-uppercase poppins-regular font-weight-bold">Calidad a lo mejor</h5>
          <p class="text-center">Visita lugares sin miedo, con gran calidad de guias ¿Que esperas aventarte a esta gran aventura?</p>
      </div>
  </div>
</div>

<div class="container col-lg-8 col-md-12 row">
    <h1 class="text-center my-4">Rutas turistica por Travel Tour</h1>
    {% for post in posts %}
        <div class="card shadow border mb-3 p-4 four columns" style="width: 40rem;">
            <a href={{ post.get_absolute_url }}>
                <img src={{post.image.url}} class="card-img-top"/>
            </a> 
            <div class="border-0 p-0 d-flex">
                <div class="col-8">
                  <a href={{ post.author.get_absolute_url }}>
                    <h4 class="m-0 justify-center"> {{post.author}}</h4>
                  </a>
                  <p class="mb-1">
                    {{post.description}}
                  </p>
                </div>
                
                <div id="{{ post.identifier }}"class='d-flex justify-content-end col-4 p-0'>
                  <a
                    type="button"
                    data-post="{{post.identifier}}"
                    class="fs-5 text-reset like-button"
                    >
                    {% if user in post.likes.all %}
                    <i class="fas fa-heart text-danger"></i>
                    {% else%}
                    <i class="far fa-heart"></i>
                    {% endif %}
                  </a>
                  <p class="fw-bold fs-5 px-1">{{post.likes.all | length}}</p>
                  <p class="fw-bold fs-5 col-auto">Me gusta</p>
                </div>
          
              </div>
          
              <hr class="mt-0"/>

              <div class="mb-1 comment-div border-0">
                {% for comment in post.get_comments %}
                <p class="mb-0">
                  <strong>{{ comment.user }}</strong> {{ comment.body }}
                </p>
                {% endfor %}
              </div>

            <div class="card-footer">
                <p class="card-text">
                    <small class="text-muted">{{post.published}}</small>
                </p>
            </div>
        </div>
        
    {% endfor %}

    <a href="crear" class="btn btn-primary mt-5">Crear Nuevo</a>
</div>

{% endblock  %}